<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browsername" value=""/>

    <test name="Login with Valid Credentials">
        <classes>
            <class name="testCases.TC01_Login">
                <methods>
                    <include name="loginWithValidCredintial_P"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Complete Product Purchase Flow">
        <classes>
            <class name="testCases.TC02_AddProducts">
                <methods>
                    <include name="addItemsToCartAndCalculateTotal"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Add Products, Return, Remove Item, and Complete Checkout">
        <classes>
            <class name="testCases.TC02_AddProducts">
                <methods>
                    <include name="addItemsToCartRemoveOneAndProceed"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
